#Navigation{
  background-color: #a685e2;
}

#Title{
  background-color: #a685e2;
  color: White;
}
.logo{
width: 70%;
}
.nav-item{
  font-family: 'Montserrat' sans-serif;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-brand{
  width: 400px;
}


.container-fluid-navigation{
  padding: 3% 15%;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid-title{
  padding: 3% 15%;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  color: White;
  font-family: 'Montserrat' sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
h3{
font-family: 'Montserrat' sans-serif;
font-weight: 900;
font-size: 1.5rem;
}


/* Download Buttons */

.download-button{
  margin: 5% 2% 5% 0;
  font-family: 'Montserrat', sans-serif;
  color: #a685e2;
  background-color: white;
}

/* Title Image */

.title-image{
  width: 100%;
}

/* Features Section*/

#features{
  padding: 7% 15%;
  text-align: center;

}


.feature-box{
  padding: 0 5%;
}

.features-hd{
  font-family: 'Montserrat' sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: #b8b5ff;

}
.features-para{
  color: grey;
  font-family: 'Montserrat' sans-serif;
  font-weight: 500;
}

.icon{
  color: #b8b5ff;
  margin-bottom: 2rem;
}
.icon:hover{
  color: #a685e2;
}

/* Testimonials Section */

.testimonial-1{
  text-align: center;
  background-color: #b8b5ff;
  padding: 7% 15%;
  color: white;
  font-family: 'Montserrat' sans-serif;

}


.testimonial-2{
  text-align: center;
  background-color: #b8b5ff;
  padding: 6.7% 12%;
  color: white;
  font-family: 'Montserrat' sans-serif;

}


.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

/* Pricing Section*/

#pricing{

  padding: 5%;
}
.buy-button{
  margin: 5% 2% 5% 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #a685e2 ;
}

.pricing-head{
  text-align: center;
  color: #a685e2;
  padding-bottom: 5%;
}
.pricing-para-1{
  text-align: center;
  padding-bottom: 3%;
  font-family: 'Montserrat',sans-serif;
  color: grey;
}

.pricing-cat{
  text-align: center;
}

.pricing-para-h{
  padding-bottom: 5%;
  font-family: 'Montserrat',sans-serif;
  font-weight: 900;
  text-align: center;
}

.pricing-para-sh{
  padding-bottom: 5%;
  font-family: 'Montserrat',sans-serif;
  font-weight: 900;
  text-align: center;

}
.pricing-para{
  color: grey;
  font-family: 'Montserrat' sans-serif;
  font-weight: 500;
  padding-left: 30%;
  text-align: justify;
}

.price-tag{
    color: #a685e2;
    padding-bottom: 2rem;
    text-align: center;
}

.card-body{
  line-height: 0;
}

.fa-check{
  color: #a685e2;
  text-align: justify;
}


/*contact-form Section*/

#contact-form{
padding: 5% 15%;
background-color: #a685e2;
}

.contact-hd{
  text-align: center;
  padding-bottom: 3%;
  color: white;

  }
  .btn-contact{
    background: white;
  }
